@import service.UserProvider
@(userProvider: UserProvider, companyForm: Form[views.formdata.CompanyFormData], id:Long)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }
@import com.feth.play.module.pa.views.html._

@main(userProvider, Messages("playauthenticate.navigation.company_index"), "company_index") {
    <div class="page-header">
      <h1>Compañias <small>Crear</small></h1>
    </div>
    @helper.form(if (id == 0) {routes.CompanyController.submit} else {routes.CompanyController.update(id)}, 'class -> "form-horizontal", 'role -> "form") {
        @if(companyForm.hasGlobalErrors) {
            <p class="alert alert-danger">
              @companyForm.globalError.message
            </p>
        }
        @helper.inputText(companyForm("name"), '_label -> "Nombre")
        <button type="submit" class="btn btn-default">@if(id == 0) { Crear } else { Editar }</button>
    }
}
