@import service.UserProvider
@(userProvider: UserProvider, companyList: List[Company])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }
@import com.feth.play.module.pa.views.html._

@main(userProvider, Messages("playauthenticate.navigation.company_index"), "company_list") {
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			@for(company <- companyList){
				<tr>
					<td>@company.id</td>
					<td>@company.name</td>
				</tr>
			}
		</tbody>
    </table>
}
