@import service.UserProvider
@(userProvider: UserProvider, routescompanyList: List[RoutesCompany], search:String)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }
@import com.feth.play.module.pa.views.html._

@main(userProvider, Messages("playauthenticate.navigation.routescompany_index"), "routescompany_search") {
    @helper.form(routes.RoutesCompanyController.search(""), 'class -> "form-horizontal", 'role -> "form") {
        <input type="text" name="search" id="search" value="@search">
        <button type="submit" class="btn btn-default">Buscar</button>
    }
    </hr>
	<ol>
    @for(routescompany <- routescompanyList){
        <li>
        	<ul>
        		<li>
        			pk: @routescompany.id 
        		</li>
        		<li>
        			Compañia: @routescompany.company.name
        		</li>
        		<li>
        			Precio: @routescompany.price
        		</li>
        		<li>
        			Ruta inicial: @routescompany.initialRoutesCompany.name
        		</li>
        		<li>
        			Rutas intermedias:
        			<ul>
	        			@for(street <- routescompany.mainRoutesCompany) {
				            <li>
				            	@street.name
				            </li>
				        }
			        </ul>
        		</li>
        		<li>
        			Ruta final: @routescompany.finalRoutesCompany.name
        		</li>
        	</ul>
        </li>
    }
    </ol>
}
