@import service.UserProvider
@(userProvider: UserProvider, routescompanyList: List[RoutesCompany])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }
@import com.feth.play.module.pa.views.html._

@main(userProvider, Messages("playauthenticate.navigation.routescompany_index"), "routescompany_list") {
    <div class="page-header">
      <h1>Rutas <small>Lista</small></h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Compañia</th>
                <th>Precio pasaje</th>
                <th>Origen</th>
                <th>Rutas intermedias</th>
                <th>Destino</th>
            </tr>
        </thead>
        <tbody>
            @for(routescompany <- routescompanyList){
                <tr>
                    <td>@routescompany.id</td>
                    <td>@routescompany.company.name</td>
                    <td>@routescompany.price</td>
                    <td>@routescompany.initialRoutesCompany.name</td>
                    <td>
                        <ul>
                            @for(street <- routescompany.mainRoutesCompany) {
                                <li>
                                    @street.name
                                </li>
                            }
                        </ul>
                    </td>
                    <td>@routescompany.finalRoutesCompany.name</td>
                </tr>
            }
        </tbody>
    </table>
}
