@import service.UserProvider
@(userProvider: UserProvider, suggestionsList: List[Suggestions])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }
@import com.feth.play.module.pa.views.html._

@main(userProvider, Messages("playauthenticate.navigation.suggestions_index"), "suggestions_list") {
    <div class="page-header">
      <h1>Sugerencias <small>Lista</small></h1> <a href="/suggestions/create" class="btn btn-primary">Crear nueva sugerencia</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Compañia</th>
                <th>Comentario</th>
                <th>Fecha de envio</th>
            </tr>
        </thead>
        <tbody>
            @for(suggestions <- suggestionsList){
                <tr>
                    <td>@suggestions.id</td>
                    <td>@suggestions.firstName</td>
                    <td>@suggestions.lastName</td>
                    <td>@suggestions.email</td>
                    <td>@suggestions.phone</td>
                    <td>@suggestions.company</td>
                    <td>@suggestions.comment</td>
                    <td>@suggestions.createdAt</td>
                </tr>
            }
        </tbody>
    </table>
}
